/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: #dcd7ba;
  margin-right: 7px;
}

body {
  color: #dcd7ba;
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  border-radius: 10px;
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  background: #161616;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.media {
    color: #7aa89f; 
}

.media,
.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  margin-right: 20px;
}

.tiling-direction {
    font-size: 15px;
    color: #dcd7ba;
}
.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: #3c3c4e;
  margin-right: 4px;
  padding: 4px 8px;
  color: #dcd7ba;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &.displayed {
    background: #3c3c4e;
  }

  &.focused,
  &:hover {
    background: #76769a;
  }
}

.binding-mode,
.tiling-direction {
  background: #3c3c4e;
  color: #76769a;
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
